<!DOCTYPE html>
<html>
<head>
    <title>Drag n' Drop experiments</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    
    <div id="container">
        <div class="dropzone">
            
        <!-- Helpful GH issue for necessity of "occupied" https://github.com/Shopify/draggable/issues/258 --> 
        <div class="drag-drop draggable-droppable--occupied">Drag</div> n&#39 
        <div class="drag-drop draggable-droppable--occupied">drop</div> experiments
    
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.8/lib/draggable.bundle.js"></script>
    <script>

            // Helpful GH issue for necessity of .Draggable() https://github.com/Shopify/draggable/issues/36
            const draggable = new Draggable.Draggable(document.querySelectorAll('.drag-drop'), {
                draggable: '.drag-drop',
                dropzone: '#container'
                });

            // Action to take when item is grabbed, moved, and stops moving.
            // draggable.on('drag:start', () => console.log('drag:start'));
            // draggable.on('drag:move', () => console.log('drag:move'));
            // draggable.on('drag:stop', () => console.log('drag:stop'));
            // // NEXT:
            // I *imagine* if I want to drop this item elsewhere in my container
            // I will need to create a different function for draggable.on('drag:stop')

            const droppable = new window.Draggable.Droppable(document.querySelectorAll('#container'), {
                draggable: '.drag-drop',
                dropzone: '#container'
            });

            // droppable.on('droppable:dropped', () => console.log('droppable:dropped'));
            // droppable.on('droppable:returned', () => console.log('droppable:returned'));


    </script>

</body>
</html>