<!DOCTYPE html>
<html>
<head>
    <title>Drag n' Drop experiments</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <br>
    <br>
    <div class="container">
        
        <!-- Helpful GH issue for necessity of "occupied" https://github.com/Shopify/draggable/issues/258 --> 
        <div class="dropzone">
            <br><br><br><br><br><br><br><br>
            <div class="drag-drop-item draggable-dropzone--occupied">Drag</div>
        </div>

        <div class="dropzone">
            <br><br><br><br><br><br><br><br>
            <div class="drag-drop-item draggable-dropzone--occupied">drop</div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.8/lib/draggable.bundle.js"></script>
    <script>

            // Helpful GH issue for necessity of .Draggable() https://github.com/Shopify/draggable/issues/36
            let draggable = new Draggable.Draggable(document.querySelectorAll('.drag-drop-item'), {
                draggable: '.drag-drop-item',
                dropzone: '#container'
                });

            // Action to take when item is grabbed, moved, and stops moving.
            draggable.on('drag:start', () => console.log('drag:start'));
            draggable.on('drag:move', () => console.log('drag:move'));
            draggable.on('drag:stop', () => console.log('drag:stop'));

            let droppable = new window.Draggable.Droppable(document.querySelectorAll('.container'), {
                draggable: '.drag-drop-item',
                dropzone: '.dropzone'
            });

            droppable.on('droppable:dropped', () => console.log('droppable:dropped'));
            droppable.on('droppable:returned', () => console.log('droppable:returned'));

    </script>

</body>
</html>