<!DOCTYPE html>
<html>
<head>
    <title>Drag n' Drop experiments</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1 id="index-header">
    <div class="container">
        <div class="drag-drop">Drag</div> n&#39 
        <div class="drag-drop">drop</div> experiments</h1>
        
        Not much to see here, folks. But you could check out the <a href="/draggable">draggable</a> and <a href="/interactive">interactive</a> experiments.
        
    </div>
</body>
</html>