<!DOCTYPE html>
<html>
<head>
    <title>Drag n' Drop experiments</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1 id="index-header">

    <!-- Helpful GH issue for necessity of "occupied" https://github.com/Shopify/draggable/issues/258 -->
    <div class="container">
        <div class="drag-drop">Drag</div> n&#39 
        <div class="drag-drop">drop</div> experiments</h1>
    </div>
    
    <!-- <script src="https://cdn.jsdelivr.net/npm/interactjs@1.3/dist/interact.min.js"></script> -->
    <script src="https://unpkg.com/interactjs@1.3/dist/interact.min.js"></script>
    <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
    <script>
    
        const interact = require('interactjs');


    </script>

</body>
</html>