<!DOCTYPE html>
<html>
<head>
    <title>Drag n' Drop experiments</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1 id="index-header">

    <!-- Helpful GH issue for necessity of "occupied" https://github.com/Shopify/draggable/issues/258 -->
    <div class="container">
        <div class="drag-drop">Drag</div> n&#39 
        <div class="drag-drop">drop</div> experiments</h1>
    </div>

    <script>
        const interact = require('interactjs');

        

    </script>

</body>
</html>